<header class="site-header">
  <div class="nav-container">
    <div class="site-branding">
      <a href="/">Mama Circle</a>
    </div>

    <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
      <i class="fa-solid fa-bars"></i>
    </button>

    {% include "nav.liquid" %}
  </div>
</header>
