<!DOCTYPE html>
<html lang="{{ lang | default: 'en' }}" data-theme="blue">
  {% include "head.liquid" %}
  <body>
    {% include "header.liquid" %}
    <main class="wrapper" role="main">
      {{ content }}
    </main>
    {% include "footer.liquid" %}
  </body>
</html>