<!-- _includes/nav.html -->
<nav class="site-nav">
    <ul>
      <li><a href="#manifesto">Manifesto</a></li>
      <li><a href="#how-it-works">How it works</a></li>
      <li><a href="#circle">Stories</a></li>
      <li><a href="/code-of-care">Code of Care</a></li>
      <li class="language-switcher">
        <a href="index-pt.html" lang="pt">PT</a> | <a href="index.html" lang="en">EN</a>
      </li>
    </ul>
  </nav>
  